<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="carInShowroom">
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" th:src="@{/js/customCar.js}"></script>
</head>
<body>
<div class="content-container">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-sm-1">
            <a th:href="@{/post-car}" class="btn btn-success">
                THÊM MỚI
                <i class="glyphicon glyphicon-plus"></i>
            </a>
        </div>
    </div>
    <table id="table-CarInShowroom" class="table table-bordered" style="width: 100%;">
        <thead class="table-primary">
        <tr style=" background-color: #58FAF4;">
            <th scope="col">Hình ảnh</th>
            <th scope="col">Tên xe</th>
            <th scope="col">Hãng xe</th>
            <th scope="col">Kiểu xe</th>
            <th scope="col">Màu sắc</th>
            <th scope="col">Số chố ngồi</th>
            <th scope="col">Tình trạng</th>
            <th scope="col">Trạng Thái</th>
            <th scope="col">Giá nhỏ nhất</th>
            <th scope="col">Giá lớn nhất</th>
            <th scope="col" width="300px">Thông tin chi tiết</th>
            <th scope="col" width="110px">Chức năng</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car : ${carInShowroom}">
            <td><img th:src="${car.imagePath}" alt="ảnh xe" height="150px" width="150px"></td>
            <td th:text="${car.name}"></td>
            <td th:text="${car.companyName}"></td>
            <td th:text="${car.type}"></td>
            <td th:text="${car.color}"></td>
            <td th:text="${car.seats}"></td>
            <td>
                <div th:switch="${car.usage}">
                    <div th:case="TRUE">Mới</div>
                    <div th:case="FALSE">Cũ</div>
                </div>
            </td>
            <td>
                <div th:switch="${car.statusCar}">
                    <div th:case="TRUE">Xe Đang Bán</div>
                    <div th:case="FALSE">Xe Không Bán</div>
                </div>
            </td>
            <td th:text="${car.priceFrom}"></td>
            <td th:text="${car.priceTo}"></td>
            <td th:text="${car.information}"></td>
            <td>
                <a th:href="@{/edit-car?id={id}(id=${car.id})}" class="btn btn-warning" {
                >
                    <i class="far fa-edit"></i>
                </a>
                <a th:href="@{/delete-car?id={id}(id=${car.id})}" class="delete btn btn-danger"
                   data-confirm="Bạn có chắc chắn muốn xóa xe này">
                    <i class="far fa-trash-alt"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item page-car">
                <a class="page-link" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item page-car" th:each="page : ${totalPageCar}">
                <a class="page-link"  th:text="${page + 1}"></a>
            </li>
            <li class="page-item page-car">
                <a class="page-link" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>